
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{

    margin: 0;
    padding: 0;
}

/* 
scroller for crome AND INTERNET explorer */


::-webkit-scrollbar{
    width: 2em;
}


::-webkit-scrollbar-track{
background: hsl(174 72% 56% / 1);
 border-radius: 100vw;
margin-block: .1em;
}
::-webkit-scrollbar-thumb{
background: hsl(120 20% 30% / 1);
border-radius: 100vw;
border: .25em solid   hsl(174 72% 56% / 1);
}
::-webkit-scrollbar-thumb:hover{
background: hsl(120 20% 10% / 1);
}




/* scroller for firefox  */

@supports(scrollbar-color:rgb(11, 29, 15)  rgb(51, 235, 171) ){

*{
scrollbar-color: rgb(11, 29, 15)   rgb(51, 235, 171)  ;
scrollbar-width: auto;
scrollbar-arrow-color: #4b5b39;


}

}






html{
    scroll-behavior: smooth;
}


.logo{
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo img{
    width: 50%;
    border: 3px solid white;
    border-radius: 10px
}




.navbar{
    width: 100%;
    height: 10vh;
    background:turquoise;
    position: fixed;
    z-index: 3;


}

.nav-Links{
  
    width: 100%;
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    
    

}

.nav-Links li a{
    
    text-decoration: none;
    color:#4b5b39;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    

}

.nav-Links li a::before{
    content: '';
    display: block;
    height: 3.5px;
    background:#4b5b39;
    position: absolute;
    /* top: -.75em;  */
    bottom: -.75em; 
    left: 0;
    right: 0;
    transform: scale(0,1);
    /* transform-origin: right; */
    /* transform-origin: left; */
    transition: transform ease-in-out 250ms;

}

.nav-Links li a:hover:before{
    transform: scale(1,1);

}







#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.background3{
    background-color: rgb(69 55 42);
}

.background1{
  /*  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/halftone-yellow.png); */
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);


}
.background2{
    background:rgba(255, 244, 244, 0.7) ;
    background-size: cover;
    background-blend-mode: darken;
}
.background{
    background:rgba( 0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}



.text-big{

    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 41px;
    font-family: 'Ubuntu', sans-serif;
    margin: 1%
   

}

.text-small{
    font-size: 18px;
    margin: 5%;
    text-align: center;
    background: #b2dcb1;
    border-radius: 10px;
}

.btn{
    padding: 8px 20px;
    margin: 1px 25px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;

}

.btn-sm{
    padding: 5px 8px;
    vertical-align: middle;
    font-size: 14px;


}

.btn-dark{
    color: black;
    border: 2px solid gray;
}

.firstsection{
height: 120vh;
display: flex;
flex-direction: row;
justify-content: center;

background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}


.box{
    margin:auto;
width: 1200px;
height: 600px;
/*background:linear-gradient(to right top, #83ebd887, #83c0e9f0);*/
background: linear-gradient(to right bottom, 
rgba(255,225,225,0.7),
rgba(255,225,225,0.3));
z-index: 2;
position: relative;
border-radius: 75px;
box-shadow: 0 0.25em 2em -2em black,
 0 40px 0 -20px  rgba(255,225,225,0.8) ;
 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}



.first{
    width: 80%;
    height: 95%;
    text-align: center;
  
    

 
}

.first h1{
    font-size: 2.9rem;
    font-weight: 50;
    font-family: 'Ubuntu', sans-serif;
    color: #4b5b39;
}

.first p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    margin-top: 2rem;
    color: rgb(84, 80, 80);
   line-height: 1.4em;
    
}


.first p::before{
    content: open-quote ;
    color: #4b5b39;
    font-size: 3.5rem;
}

.first p::after{
    content: close-quote ;
    color: #4b5b39;
    font-size: 3.5rem;
}

















.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background:turquoise;
    
    }
    
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    
    .sec1{
       display: flex;
       flex-direction: row;
       justify-content: left;
       align-items: center;
    
    }
    
    .logo-footer{
        width: 23%;
        display: flex;
        
        align-items: center;
    }
    .logo-footer img{
        width: 70%;
        border: 3px solid white;
        border-radius: 10px
    }
    
    .useless-text{
        font-size: medium;
        list-style: none;
        color:#4b5b39;
        font-family: 'Ubuntu', sans-serif;
        padding-left: 50px;
        }
        
        
        
        .site-name{
        width: 50%;
        font-family: 'Ubuntu', sans-serif;
        color:#4b5b39;
        font-weight: 500;
        }
    
    .social-links{
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 40%;
    }
    
    .group{
        width: 20%;
        display: flex;
        justify-content:left;
        align-items: center;
    }
    
    
    
    .log1{
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 50%;
    }
    .log2{
        border-radius: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .log3{
        border-radius: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .log4{
        border-radius: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    
    .log1 img , .log2 img ,.log3 img,.log4 img {
        border-radius: 50%;
    }